* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 19.5px;
}

body {
    color: white;
    font-family: 'Oswald', sans-serif;
    word-wrap: break-word;
    background-color: black;
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-size: 100vh 100vh;
    min-width: 320px;
}

h1 {
    font-size: 3rem;
    text-align: center;
    background-color: rgba(33, 37, 48, 0.5);
    width: 100%;
    margin-top: 20px;
    font-weight: normal;
    font-family: 'Anonymous Pro', monospace;
}

h2, h3, h4, h5, h6 {
    padding: 15px 0;
}

h2 {
    text-align: center;
}

ul li {
    list-style-position: inside;
}

a {
    color: rgb(0, 255, 51);
}

blockquote {
    border-left-style: solid;
    border-left-width: 4px;
    padding-left: 15px;
    font-style: italic;
}

p {
    line-height: 120%;
}

table {
    border-collapse: collapse;
    margin: 5px auto;
}

table, th, td {
    border: 3px solid white;
    padding: 10px;
}

.table-container {
    overflow-x: auto;
    width: 100%;
}

.home-link {
    display: inline-block;
    float: left;
    background-color: rgba(33, 37, 48, 0.5);
    padding: 15px;
    border-bottom-right-radius: 10px;
    font-size: 1.1rem;
    font-family: 'Anonymous Pro', monospace;
}

.archive-link {
    display: inline-block;
    float: right;
    background-color: rgba(33, 37, 48, 0.5);
    padding: 15px;
    border-bottom-left-radius: 10px;
    font-size: 1.1rem;
    font-family: 'Anonymous Pro', monospace;
}

.read-more {
    display: inline-block;
    padding: 5px 20px 8px 20px;
    font-family: 'Anonymous Pro', monospace;
}

.index-break {
    border-top: 15px dashed rgba(0, 55, 200, 0.5);
    border-bottom: 0px;
    padding-bottom: 20px;
}

.read-more-container {
    margin: 10px auto 0 auto;
    width: 75%;
}

.content img {
    width: 80%;
    margin: 30px 10%;
}

.time {
    text-align: center;
    padding: 20px 0;
    font-family: 'Anonymous Pro', monospace;
}

.header {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.logo {
    width: 200px;
}

.abstract {
    margin: 0 auto;
    padding: 20px;
    width: 75%;
}

.post-body {
    margin: 40px auto;
    padding: 20px;
    width: 75%;
}

.footer {
    padding: 20px;
    background-color: rgba(33, 37, 48, 0.5);
    text-align: center;
    color: white;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}

@media screen and (min-width: 1332px) {
    .post-body {
        width: 999px;
    }
    .abstract {
        width: 999px;
    }
    .read-more-container {
        width: 999px;
    }
}

@media screen and (max-width: 500px) {
    .post-body {
        width: 100%;
    }
    .abstract {
        width: 100%;
    }
    .read-more-container {
        width: 100%;
    }
}

@media screen and (min-width: 500px) and (max-width: 666px){
    .post-body {
        width: 500px;
    }
    .abstract {
        width: 500px;
    }
    .read-more-container {
        width: 500px;
    }
}
